
DB/medicos.csv
DB/citas.csv
__pycache__/funciones_cliente.cpython-310.pyc
__pycache__/funciones_gboxs.cpython-310.pyc
__pycache__/funciones_gboxs.cpython-312.pyc
__pycache__/funciones_cliente.cpython-310.pyc
__pycache__/funciones_gboxs.cpython-310.pyc
__pycache__/funciones_gmeds.cpython-310.pyc
__pycache__/funciones_hpacs.cpython-310.pyc
DB/citas.csv
__pycache__/funciones_hpacs.cpython-310.pyc
*.pyc
DB/citas.csv
DB/citas.csv
DB/citas.csv
